doctype html
html
  head
    title Panel Administracyjny
    link(rel='stylesheet', href='/stylesheets/panel.css')
    meta(name='viewport', content='width=device-width, initial-scale: 1.0, user-scalabe=0')
    meta(http-equiv='Content-type', content='text/html; charset=ISO-8859-2')
  body
    #header
      .logo
        a(href="panel")
          | Panel
          span  Administracyjny
    a.mobile(href='#') MENU
    #container
      .sidebar
        ul#nav
          li
            a.selected(href='panel') Wiadomo¶ci
          li
            a(href='aktualneZadania') Aktualne zadania
          li
            a(href='new_task') Dodaj zadanie
          li
            a(href='kierowcy') Dodaj kierowcê
          li
            a(href='kierowcy') Dodaj klienta 
          li
            a(href='kierowcy') Dodaj klienta
          li
            a(href='kierowcy') Dodaj kategoriê
          li
            a(href='#') Historia zadañ  
          li
            a(href='#') Zadania w poczekalni
          li
            a(href='#') Szukaj
      .content
        h1 Zadania
        if (items.length)
          each czynnosci in items
            #box
              .box-top Zadanie kierowcy: #{czynnosci.imie} #{czynnosci.nazwisko}
              .box-panel
                h3 <strong>Stan:</strong> #{czynnosci.stan} <br /><br />
                | <strong>Opis:</strong> #{czynnosci.opis}
        else
          p Brak zadañ do wyœwietlenia
