doctype html
html
  head
    title Panel Administracyjny
    link(rel='stylesheet', href='/stylesheets/panel.css')
    meta(name='viewport', content='width=device-width, initial-scale: 1.0, user-scalabe=0')
    meta(http-equiv='Content-type', content='text/html; charset=ISO-8859-2')
  body
    #header
      .logo
        a(href='panel')
          | Panel
          span  Administracyjny
    a.mobile(href='#') MENU
    #container
      .sidebar
        ul#nav
          li
            a.selected(href='panel') WiadomoÅ›ci
          li
            a(href='aktualneZadania') Aktualne zadania
          li
            a(href='new_task') Dodaj zadanie
          li
            a(href='kierowcy') Dodaj kierowcê
          li
            a(href='klienci') Dodaj klienta
          li
            a(href='kategorie') Dodaj kategoriê
          li
            a(href='#') Historia zadaÅ„
          li
            a(href='#') Zadania w poczekalni
          li
            a(href='#') Szukaj
      .content
        form#form_add_product(action='/new_task', enctype='multipart/form-data', name='form_add_product', method='post')
          table(width='90%', border='0', cellspacing='0', cellpadding='6')
            tr
              td Tytu³
              td
                label
                  input#tytul(name='tytul', type='text')
            tr
              td Nazwa klienta
              td
                select#idklienta(name='idklienta')
                    if (items.length)
                        each klienci in items
                            option(value=klienci.idklienta) #{klienci.firma}
            tr
              td Nazwa kierowcy
              td
                select#idkierowcy(name='idkierowcy')
                    if (items.length)
                        each kierowcy in items
                            option(value=kierowcy.idkierowcy) #{kierowcy.imie} #{kierowcy.nazwisko}
                   
            tr
              td Kategoria
              td
                label
                  select#category(name='idkategori')
                    option(value='1') rozÅ‚adunek
                    option(value='2') zaÅ‚adunek
                    option(value='3') tankowanie
                    option(value='4') inne
            tr
              td Data planowania
              td
                label
                  input#data_planowania(name='data_planowana', type='date')
            tr
              td Data rozpoczÄ™cia
              td
                input#data_rozpoczecia(name='data_rozpoczecia', type='date')
            tr
              td Data zakoÅ„czenia
              td
                input#data_zakonczenia(name='data_zakonczenia', type='date')
            td Stan
            td
              label
                select#stan(name='stan')
                  option(value='planowane') planowane
                  option(value='poczekalnia') poczekalnia
            tr
              td Opis
              td
                label
                  textarea#opis(name='opis', cols='64', rows='5')
            tr
              td Â 
              td
                label
                  input#button_add_task(type='submit', name='button_add_task', value='dodaj zadanie')

